<!-- client/templates/polls/detail.html -->

{% extends 'client/base.html' %}

{% block title %}Poll Detail{% endblock %}

{% block content %}
    <h1>{{ poll.question }}</h1>

    {% if error_message %}<p id="error"><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'client:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Голосовать">
    </form>
{% endblock %}